/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    overflow-x: hidden;
  }
  
  header {
    text-align: center;
    padding: 50px 20px;
    background-color: #4CAF50;
    color: white;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #2e7d32;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    color: #4CAF50;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in;
  }
  
  .slide-in {
    animation: slideIn 0.75s ease-in-out;
  }

  #about p {
    max-width: 600px; /* Adjust as needed */
    line-height: 1.6; /* Increases readability */
    word-wrap: break-word;
  }

  
